RewriteEngine On

# If we receive a forwarded http request from a proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# ...or just a plain old http request directly from the client
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !=on

# Redirect to https version
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
#Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
## browser cache
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresDefault "access 7 days"
#ExpiresByType image/gif "access plus 1 year"
#ExpiresByType image/jpeg "access plus 1 year"
#ExpiresByType image/png "access plus 1 year"
#ExpiresByType image/jpg "access plus 1 year"
#ExpiresByType image/x-icon "access 1 year"
#ExpiresByType application/x-shockwave-flash "access 1 year"
#</IfModule>
#<ifModule mod_headers.c>
## 30 days
#<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
#Header set Cache-Control "max-age=2592000, public"
#</filesMatch>
#</ifModule>
