.m-about {
  background: $main-blue;
  position: relative;
  overflow: hidden;

  .triangles {
    background-size: cover;
    background: url(/public/images/triangles-1.png) no-repeat;
    height: 119%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .container {
    padding: 76px 0 110px;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
      padding: 73px 40px;
      box-sizing: border-box;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      margin: 0;
      padding: 50px 15px;
    }

  }

  .description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.6px;
    text-align: center;
    color: $secondary-gray;
    padding-top: 68px;
    max-width: 680px;
    font-family: $Raleway;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
