.overflow-x {
  background: #f1f1f1;
  padding-top: 152px;
  overflow: hidden;

  @media(max-width: 767px) {
    padding-top: 94px;
  }
}

.m-benefits {
  background-color: $main-blue;
  padding: 73px 0 107px;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    background: #002e5b;
    height: 160px;
    left: 0;
    right: -100px;
    overflow: hidden;
    position: absolute;
    top: -85px;
    transform: rotate(-4.2deg);
    z-index: 0;
  }

  .triangles {
    background-size: cover;
    background: url(/public/images/triangles-2.png) no-repeat;
    height: 100%;
    position: absolute;
    top: -432px;
    right: 0;
    width: 406px;
    z-index: 1;

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding: 0 0 50px 0;
  }

  .upper-title {
    position: relative;
    z-index: 1;
  }

  .title {
    z-index: 1;

    .line-blink {
      position: absolute;
      opacity: 0;
      width: 19px;
      height: 6px;
      background: $yellow;
      right: -20px;
      bottom: 2px;
      animation: 1000ms blink infinite;
    }
  }

  @keyframes blink {
    0%,50% {
      opacity: 0;
    }

    51%,100% {
      opacity: 1;
    }

  }

  .container {
    display: block;
    max-width: 1199px;
    text-align: center;
  }

  .items {
    display: flex;
    margin: 0 -15px;
    padding-top: 23px;

    @media (max-width: 767px) {
      margin: 0;
      flex-direction: column;
    }

    .item {
      max-width: 254px;
      margin: 0 auto;

      .logo {
        text-align: center;
        font-size: 40px;
        width: 79px;
        height: 79px;
        border-radius: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $yellow;
        margin: 51px auto 23px;

        i {
          color: $yellow;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: $white;
        padding-bottom: 19px;

        @media(max-width: 767px) {
          font-size: 16px;
        }
      }

      .description {
        font-family: $OpenSans;
        font-size: 15px;
        line-height: 2;
        text-align: center;
        color: #d3d3d3;

        @media(max-width: 767px) {
          font-size: 13px;
        }
      }
    }
  }
}
