// Base px
$base-px-default: 16px !default;

// Circle
$circle-size-default: $base-px-default !default;
$circle-color-default: inherit !default;
$circle-border-width-default: null !default;
$circle-border-color-default: #222222 !default;
$circle-display-default: inline-block !default;
// Position
$position-default: null !default;
// Tint/Shade
$mix-percent-default: 15% !default;

// Sizing
// ------
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Advanced positioning
// --------------------
@mixin position($type,
								$top: $position-default,
								$right: $position-default,
								$bottom: $position-default,
								$left: $position-default) {
  position: $type;
  $allowed_types: absolute relative fixed;
  @if not index($allowed_types, $type) {
    @warn "Unknown position: #{$type}.";
  }
  @each $data in top $top, right $right, bottom $bottom, left $left {
    #{nth($data, 1)}: nth($data, 2);
  }
}
@mixin absolute($top: $position-default, $right: $position-default, $bottom: $position-default, $left: $position-default) {
  @include position(absolute, $top, $right, $bottom, $left);
}

// ----------------------------------
// Functions
// ----------------------------------

// Mix white with another color
// ----------------------------
@function tint($color, $percent: $mix-percent-default){
  @return mix(white, $color, $percent);
}

// Mix black with another color
// ----------------------------
@function shade($color, $percent: $mix-percent-default){
  @return mix(black, $color, $percent);
}

// Create a random color
// ---------------------
@function random-color($min: 0, $max: 255, $alpha: 1) {
  @if $min < 0 {
    $min: -1;
  } @else {
    $min: $min - 1;
  }
  @if $max > 255 {
    $max: 256;
  } @else {
    $max: $max + 1;
  }
  $red: random($max) + $min;
  $green: random($max) + $min;
  $blue: random($max) + $min;
  @return rgba($red, $green, $blue, $alpha);
}

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

.m-btn {
  color: #ffffff;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  pointer-events: all;

  &.main {
    width: 179px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    $btn-color: $button-default;
    $btn-color-dark: shade($btn-color, 40%);
    color: #fff;
    background: $button-default;
    z-index: 9999;
    position: relative;
    text-decoration: none;
    overflow: hidden;

    .sm & {
      width: 179px;
      height: 60px;
      background-color: $button-default;
      box-shadow: 0 1px 7px 0 rgba(50, 0, 126, 0.26);
    }
  }



  &.getEstimation {
    padding: 12px 15px;
    background: $button-default;
    box-shadow: 0 1px 7px 0 rgba(50, 0, 126, 0.26);
    margin-left: 15px;
    z-index: 9999;
    position: relative;
    text-decoration: none;
    overflow: hidden;

    .xs & {
      max-width: 127px;
      max-height: 41px;
      padding: 0!important;
      font-size: 14px!important;
      font-weight: 600!important;
      color: #ffffff!important;
    }
  }

  &.animate {
    span {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: #563dd1;
      -webkit-box-shadow: 0 0 20px 0 #563dd1;
      box-shadow: 0 0 45px 25px #563dd1;
      z-index: -1;
      top: -40px;
      left: -40px;
    }

    .xs & {
      padding: 13px 23px;
      min-width: 179px;
      min-height: 60px;
      display: flex;
      align-items: center;;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
    }

    &:active {
      text-decoration: none!important;

      span {
        @include size(225%, $btn-width*9.25);
        opacity: 1;
        transition: 0.3s;
        left: 0!important;
        top: 0!important;
        background-color: #563dd1;
      }
    }
  }
}
