.m-contacts {
  background: #ddd;
  height: 472px;
  position: relative;
  z-index: 999;

  @media (max-width: 992px) {
    background: #fff;
    height: auto;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 472px!important;
    max-width: none;

    img {
      max-width: none !important;
    }

    .popup-contacts-body {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    .popup-contacts-icon {
      display: flex;

      i {
        font-size: 16px;
        color: #fff;
      }
    }

    .popup-contacts-text {
      display: flex;
      padding-left: 12px;
    }

    @media (max-width: 992px) {
      position: relative;
    }

    @media (max-width: 767px) {
      position: relative;
      height: 350px !important;
    }

    #content {
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      color: #f4f4f4;
      line-height: 17px;

      .arrow {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #32007e transparent transparent transparent;
        margin: auto;
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      background: #fff;
    }
  }

  .contacts-form {
    @media (max-width: 992px) {
      right: 45px;
    }

    @media (max-width: 767px) {
      position: relative;
      top: -15px;
      right: 0;
      background: #fff;
      padding: 15px;
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
    }

    .under-title {
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0.5px;
      text-align: left;
      color: #32007e;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    .title {
      font-family: $Hind;
      font-size: 40px;
      font-weight: bold;
      line-height: 2.03;
      letter-spacing: 0.8px;
      text-align: left;
      color: #444444;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .panel {
    perspective: 1000px;

    @media (max-width: 767px) {
      perspective: 1800px;
    }

    &.flip {
      .front {
        z-index: 900;
        -webkit-transform: rotateY(180deg);
      }

      .back {
        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
      }
    }

    .front {
      position: absolute;
      top: 114px;
      right: 0;
      background: #ffffff;
      padding: 48px 55px;
      max-width: 402px;
      width: 100%;
      box-sizing: border-box;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.14);
      height: inherit;
      z-index: 900;
      text-align: center;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;

      @media (max-width: 1199px) {
        right: 100px;
      }

      @media (max-width: 992px){
        max-width: 500px!important;
        position: relative;
        top: -15px;
        left: 0;
        right: 0;
      }

      @media (max-width: 768px) {
        position: relative;
        top: -15px;
        left: 0;
        margin: auto;
        max-width: 100%;
      }
    }

    .back {
      position: absolute;
      max-width: 402px;
      width: 100%;
      top: 114px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 470px;
      padding: 48px 59px;
      font-size: 25px;
      box-sizing: border-box;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.14);
      color: #ffffff;
      //background: $button-default;
      z-index: 1000;
      -webkit-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;

      @media (max-width: 992px) {
        max-width: 330px;
      }

      @media (max-width: 767px) {
        top: -15px;
        left: 0;
        margin: auto;
        max-width: 292px;
      }
    }
  }
}
