.m-footer {
  z-index: 99;

  @media (max-width: 767px) {
    top: 470px;
    position: relative;
  }

  .footer-top {
    background: #ffffff;
    padding: 60px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .m-menu {
      a {
        font-size: 16px;
      }
    }

    .logo {
      img {
        vertical-align: bottom;
      }
    }

    .m-social {
      a {
        padding: 0 3px;
      }
    }
  }

  .footer-bottom {
    padding: 15px 0;
    background-color: #f7f8f9;
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
  }

  .m-menu {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
