.m-form {
  box-sizing: border-box;

  .form-group {
    margin-bottom: 15px;

    input, textarea {
      background-color: #ffffff;
      border: 0;
      border-bottom: 1px solid rgba(113, 113, 113, 0.2);
      min-height: 42px;
      width: 100%;
      box-sizing: border-box;
      font-family: "Muli", sans-serif;
      padding: 0 15px;
      outline: none;

      &::placeholder {
        opacity: 0.5;
        font-family: $OpenSans;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(68, 68, 68, 0.5);
      }
    }

    textarea {
      padding-top: 10px;
      min-height: 80px;
      resize: none;
    }
  }

  .m-btn {
    &.main {
      padding: 10px 16px !important;
      min-width: 174px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
