.m-how-we-do {
  background-color: #f7f8f9;
  padding: 69px 0 116px 0;

  .xs & {
    padding: 50px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sm & , .xs & {
     flex-direction: column;
    }
  }

  #technologies {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .item {
      width: 100px;
      height: 100px;
      background: #000;
      color: #411997;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      animation: 0.3s;
      cursor: pointer;
      font-weight: 600;

      img {
        max-width: 70%;
      }

      &.team {
        background: none;
        color: #fff;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 191px;
        height: 191px;
        margin: auto;
        box-shadow: none;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .text-information {
    flex: 0 0 350px;

    .sm & , .xs & {
      flex: 0;
    }

    .under-title {
      font-size: 14px;
      text-align: left;
      font-weight: 800;
      letter-spacing: 0.5px;
      color: #251841;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.11;
      text-align: left;
      color: rgba(46, 46, 46, 0.87);
      padding-bottom: 35px;
    }

    .description {
      font-size: 16px;
      text-align: left;
      color: #9a9a9a;
    }
  }
}
