.m-header {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 23px;
  z-index: 99;
  opacity: 1;
  transition: 0.3s;

  .logo {
    display: flex;
    align-items: center;
  }

  svg {
    path {
      fill: $white;
    }
  }

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 99999;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 10px 25px -15px #999;

    svg {
      path {
        fill: $main-blue;
      }
    }

    .m-menu {
      a {
        color: #454545;
      }
    }
  }

  &.active {
    position: fixed;
    z-index: 99999;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      img {
        vertical-align: bottom;
      }
    }
  }
}
