.m-header {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 23px;
  z-index: 99;
  opacity: 1;
  transition: 0.3s;

  @media(max-width: 767px) {
    top: 0;
  }

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 99999;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 10px 25px -15px #999;

    .hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
      background-color: $main-blue;
    }

    svg {
      path {
        fill: $main-blue;
      }
    }

    .m-menu {
      a {
        color: #454545!important;

        &:hover {
          &:after {
            background: $main-blue;
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
  }

  svg {
    path {
      fill: $white;
    }
  }

  &.active {
    position: fixed;
    z-index: 99999;
    top: 0;
    background: $white;

    svg {
      path {
        fill: $main-blue;
      }
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: $main-blue;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;

    .logo {
      img {
        vertical-align: bottom;
      }
    }
  }
}
