.m-home {
  height: 100%;
  background: url(../images/home-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    padding-bottom: 150px;

    .sm & {
        max-width: 540px;
    }

    .xs & {
      font-size: 42px;
      max-width: 230px;
      padding-bottom: 110px;
      margin: 0;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
