.m-header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 23px;
  z-index: 99;

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }

  &.active {
    position: fixed;
    z-index: 99999;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .m-menu {
      a {
        font-size: 14px;
      }
    }

    .logo {
      img {
        vertical-align: bottom;
      }
    }
  }
}
