.m-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 767px) {
    position: fixed;
    top: 90px;
    background: #fff;
    width: 80%;
    bottom: 0;
    flex-direction: column!important;
    padding: 0 10px;
    opacity: 0;
    transform: translate3d(120%,0,0);

    &.active-menu {
      display: flex;
      opacity: 1;
      top: 100px;
      width: 80%;
      background: #fff;
      box-shadow: 0 0 5px 0 #999;
      align-items: flex-start;
      transform: translate3d(20%,0,0);
      transition: transform 2s ease;
    }
  }

  a {
    font-size: 19px;
    font-family: $OpenSans;
    line-height: 2.68;
    text-align: right;
    color: $white;
    padding-left: 50px;
    text-decoration: none;

    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      //color: $black;
      margin: 10px 15px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      height: 3px;
      width: 0;
      bottom: 0;
      background: transparent;
      transition: width .3s ease, background-color .3s ease;
    }

    &:hover {
      &:after {
        width: 100%;
        //background: $button-default;
      }
    }
  }
}
