.m-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  a {
    @media(min-width: 992px) {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 767px) {
    position: fixed;
    top: 90px;
    background: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: column !important;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 700ms ease;

    &.active-menu {
      display: flex;
      opacity: 1;
      top: 63px;
      width: 100%;
      background: #fff;
      box-shadow: 0 0 5px 0 #999;
      align-items: flex-start;
      transform: translate3d(0, 0, 0);
      transition: transform 700ms ease;
    }
  }

  a {
    font-size: 16px;
    font-family: $OpenSans;
    text-align: right;
    color: $white;
    margin: 10px 25px 0;
    text-decoration: none;

    &:after {
      content: '';
      margin: 9px auto 0;
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
      -webkit-transition: width .5s ease, background-color .5s ease;
      -moz-transition: width .5s ease, background-color .5s ease;
    }

    &:hover {
      &:after {
        width: 80%;
        background: $white;
      }
    }

    @media(max-width: 992px) {
      font-size: 13px;
      margin: 10px 15px 0;
    }

    @media(max-width: 767px) {
      font-size: 18px;
      margin: 10px auto;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      text-align: left;
      color: $main-blue;
      margin: 10px auto;
    }
  }
}
