.m-services__cards {
  display: flex;
  margin: 30px -15px 0;
  flex-wrap: wrap;

  &:first-child {
    margin: 84px -15px 0;
  }

  @media (max-width: 576px) {
    margin: 36px 0 0 0!important;
    flex-direction: column;
  }

  .item {
    height: 350px;
    background-color: $white;
    border: solid 1px #e2e2e2;
    padding: 30px 25px;
    position: relative;
    z-index: 4;
    box-sizing: content-box;
    margin-bottom: 30px;

    &:hover {
      box-shadow: 7.8px 11.6px 57px 0 rgba(64, 64, 63, 0.1);
    }

    @media (max-width: 576px) {
      min-width: inherit;
      box-sizing: inherit;
      width: 100%;
      padding: 15px;
      min-height: auto;
      height: auto;
      margin-bottom: 15px;
    }

    .top {
      display: flex;
      flex: 0;
      align-items: center;

      .logo {
        width: 74px;
        margin: 0 25px 0 0;

        img {
          width: 100%;
        }
      }

      object {
        @media(max-width: 767px) {
          max-width: 70%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: #454545;

        @media(max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
      height: calc(100% - 64px);

      .description {
        font-size: 15px;
        line-height: 2;
        text-align: justify;
        color: #6b7175;
        flex: 1;
        display: flex;
        align-items: center;
      }

      .service-links {
        display: flex;
        flex-direction: column;
        flex: 0;
        min-height: 80px;

        a {
          font-size: 14px;
          font-weight: bold;
          line-height: 2.14;
          text-align: left;
          color: $secondary-blue;
          text-transform: uppercase;
          text-decoration: none;

          //&:hover , &:active {
          //  color: $yellow;
          //}
        }
      }

    }
  }
}
