.m-services {
  background-color: #f1f1f1;
  padding: 73px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  .container {
    display: block;
    max-width: 1461px;
  }

  .under-title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4.2px;
    text-align: center;
    color: #454545;
    text-transform: uppercase;
    padding-bottom: 25px;
  }

  .title {
    font-size: 40.1px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: 0.8px;
    text-align: center;
    color: #454545;

    @media (max-width: 767px){
      font-size: 22px;
    }
  }
}
