.m-services {
  background-color: #f1f1f1;
  padding: 73px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  .container {
    display: block;
    max-width: 1190px;
    text-align: center;
  }
}
