.upper-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4.2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  padding-bottom: 25px;

  &.light {
    color: $white;
  }

  &.dark {
    color: #454545;
  }

  @media (max-width: 992px) {
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 0.7px;
    text-align: left;
    min-width: 255px;
    padding-left: 56px;
    margin-right: 31px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    font-size: 22px;
    padding-left: 38px;
    line-height: 1.45;
    margin-right: 34px;
    min-width: inherit;
    margin-bottom: 45px;
  }
}

.title {
  font-size: 40.1px;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: 0.8px;
  text-align: center;
  display: inline-block;
  position: relative;

  &.animate {

    .left-angle {
      animation: 300ms focus-left cubic-bezier(.94,.14,1,.99);
    }

    .right-angle {
      animation: 300ms focus-right cubic-bezier(.94,.14,1,.99);
    }
  }

  @keyframes focus-left {
    0% {
      left: -20px;
      bottom: -25px;

    }
    100% {
      left: 0;
      bottom: -5px;
    }
  }

  @keyframes focus-right {
    0% {
      right: -18px;
      top: -25px;
    }
    100% {
      right: 2px;
      top: -5px;
    }
  }

  .left-angle {
    position: absolute;
    left: 0;
    bottom: -5px;

    &.invert {
      top: -5px;
      bottom: inherit;

      &:after {
        top: -5px;
        bottom: inherit;
      }

      &:before {
        top: -5px;
        bottom: inherit;
      }
    }

    &:after {
      content: '';
      width: 19px;
      height: 5px;
      background: $yellow;
      position: absolute;
      left: -16px;
      bottom: 0;
    }

    &:before {
      content: '';
      width: 5px;
      height: 19px;
      background: $yellow;
      position: absolute;
      left: -16px;
      bottom: 0;
    }
  }

  .right-angle {
    position: absolute;
    right: 2px;
    top: -5px;

    &.invert {
      bottom: 0;
      top: inherit;
      right: 45px;

      &:after {
        bottom: -5px;
        top: inherit;
      }

      &:before {
        bottom: -5px;
        top: inherit;
      }
    }

    &:after {
      content: '';
      width: 19px;
      height: 5px;
      background: $yellow;
      position: absolute;
      right: -16px;
      top: 0;
    }

    &:before {
      content: '';
      width: 5px;
      height: 19px;
      background: $yellow;
      position: absolute;
      right: -16px;
      top: 0;
    }
  }

  &.light {
    color: $white;
  }

  &.dark {
    color: #454545;
  }

  @media (max-width: 992px) {
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 0.7px;
    text-align: left;
    min-width: 255px;
    padding-left: 56px;
    margin-right: 31px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    font-size: 22px;
    padding-left: 38px;
    line-height: 1.45;
    margin-right: 34px;
    min-width: inherit;
    margin-bottom: 45px;
  }
}
