.upper-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4.2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  padding-bottom: 25px;

  &.light {
    color: $white;
  }

  &.dark {
    color: #454545;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.title {
  font-size: 40.1px;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: 0.8px;
  text-align: center;
  display: inline-block;
  position: relative;

  &.animate {

    .left-angle {
      left: 0;
      bottom: -5px;
      animation: 400ms focus-left cubic-bezier(.94,.14,1,.99);
    }

    .right-angle {
      right: 2px;
      top: -5px;
      animation: 400ms focus-right cubic-bezier(.94,.14,1,.99);
    }
  }

  @keyframes focus-left {
    0% {
      left: -9px;
      bottom: -12px;

    }
    100% {
      left: 0;
      bottom: -5px;
    }
  }

  @keyframes focus-right {
    0% {
      right: -9px;
      top: -12px;
    }
    100% {
      right: 2px;
      top: -5px;
    }
  }

  .left-angle {
    position: absolute;
    left: -9px;
    bottom: -12px;
    opacity: 1;
    transition: 0.6s;

    &:after {
      content: '';
      width: 16px;
      height: 3px;
      background: $yellow;
      position: absolute;
      left: -16px;
      bottom: 0;
    }

    &:before {
      content: '';
      width: 3px;
      height: 16px;
      background: $yellow;
      position: absolute;
      left: -16px;
      bottom: 0;
    }
  }

  .right-angle {
    position: absolute;
    right: -9px;
    top: -12px;
    opacity: 1;
    transition: 0.6s;

    &:after {
      content: '';
      width: 16px;
      height: 3px;
      background: $yellow;
      position: absolute;
      right: -16px;
      top: 0;
    }

    &:before {
      content: '';
      width: 3px;
      height: 16px;
      background: $yellow;
      position: absolute;
      right: -16px;
      top: 0;
    }
  }

  &.light {
    color: $white;
  }

  &.dark {
    color: #454545;
  }

  @media (max-width: 992px) {
    font-size: 27px;
  }

  @media (max-width: 767px) {

  }
}
