.m-work-proccess {
  background-color: #563dd1;
  padding: 64px 0 78px 0;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .under-title {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
    color: #32007e;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .title {
    font-family: 'TexGyreAdventor', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
    text-align: center;
    color: #fdfdfd;
    max-width: 454px;

    @media (max-width: 767px) {
      font-size: 22px;
      max-width: 290px;
    }
  }

  .items {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    margin-top: 86px;
    position: relative;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin: 56px 0 0 0;
    }

    img.dashed-line {
      display: none;

      @media (max-width: 992px) {
        display: block;
        position: absolute;
        right: 65px;
        top: -190px;
        bottom: 0;
        margin: auto;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 239px;
      max-width: 25%;
      position: relative;
      margin: 0 15px;

      @media (max-width: 1080px) {
        min-width: 200px;
      }

      @media (max-width: 992px) {
        margin-bottom: 86px;
        min-width: 216px;
        padding: 0 15px;
      }

      @media (max-width: 767px) {
        margin-bottom: 56px;
        min-width: 216px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        content: '';
        color: #fff;
        position: absolute;
        left: 185px;
        top: 35px;
        width: 150px;
        height: 1px;
        border-bottom: 1px dashed #fff;

        @media (max-width: 1080px) {
          width: 65px;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      &:nth-child(2) {
        &:after {
          @media (max-width: 992px) {
            display: none;
          }
        }
      }

      .logo {
        width: 69px;
        height: 69px;
        border: solid 1px #ffffff;
        border-radius: 69px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 32px;
        }
      }

      .title {
        font-family: 'Muli', sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        padding: 15px 0;
      }

      .description {
        font-size: 16px;
        text-align: center;
        color: #ececec;

        @media (max-width: 992px) {
            font-size: 14px;
        }
      }
    }
  }
}
