.m-work-proccess {
  background: #f9f9f9;
  padding: 64px 0 70px 0;
  position: relative;

  &:after {
    content: '';
    background: #f9f9f9;
    height: 160px;
    left: 0;
    right: -100px;
    overflow: hidden;
    position: absolute;
    top: -85px;
    transform: rotate(-4.2deg);
    z-index: 0;
  }

  .upper-title {
    position: relative;
    z-index: 1;
  }

  .title {
    z-index: 1;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
  }

  .items {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    margin-top: 86px;
    position: relative;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin: 56px 0 0 0;
    }

    img.dashed-line {
      display: none;

      @media (max-width: 992px) {
        display: block;
        position: absolute;
        right: 65px;
        top: -190px;
        bottom: 0;
        margin: auto;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 239px;
      max-width: 25%;
      position: relative;
      margin: 0 15px;

      @media (max-width: 1080px) {
        min-width: 200px;
      }

      @media (max-width: 992px) {
        margin-bottom: 86px;
        min-width: 216px;
        padding: 0 15px;
      }

      @media (max-width: 767px) {
        margin-bottom: 56px;
        min-width: 216px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        content: '';
        color: #fff;
        position: absolute;
        left: 185px;
        top: 35px;
        width: 150px;
        height: 1px;
        border-bottom: 1px dashed #fff;

        @media (max-width: 1080px) {
          width: 65px;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      &:nth-child(2) {
        &:after {
          @media (max-width: 992px) {
            display: none;
          }
        }
      }

      .logo {
        width: 69px;
        height: 69px;
        border: solid 1px #ffffff;
        border-radius: 69px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 32px;
        }
      }

      .title {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.5px;
        text-align: center;
        color: #454545;
        text-transform: uppercase;
        padding-bottom: 12px;
      }

      .description {
        font-family: $OpenSans;
        font-size: 15px;
        line-height: 2;
        text-align: center;
        color: #6b7175;

        @media (max-width: 992px) {
            font-size: 14px;
        }
      }
    }
  }
}
