.m-portfolio {
  background-color: $white;
  padding: 0 0 116px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1170px;
  }

  #technologies {
    background: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 111px 0 300px;
    color: #999;

    @media (max-width: 767px) {
      padding: 30px 0 200px;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 767px) {
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    img {
      max-width: 60px;

      @media (max-width: 767px) {
        width: 33.333333333%;
        max-width: 100%;
        padding: 20px;
      }
    }
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -180px;
    height: 954px;

    .container {
      flex-direction: column;
    }

    .content {
      width: 100%;
      display: flex;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .upper-title {
      text-align: left;
    }

    @media (max-width: 992px) {
      flex: 0;
    }

    .left-blocks {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      @media (max-width: 767px) {
        margin: 0 0 30px 0;
      }

      .card-1 {
        background: $white;
        height: 284px;
        padding-left: 60px;
        padding-top: 66px;
        margin-bottom: 56px;
        box-sizing: border-box;

        @media (max-width: 767px) {
          height: auto;
          min-height: 181px;
        }
      }

      .card-2 {
        height: 337px;
        background-position: 50%;
        background-size: cover;
        margin-bottom: 37px;

        @media (max-width: 767px) {
          height: auto;
          min-height: 337px;
          margin-bottom: 30px;
        }
      }

      .card-3 {
        height: 270px;
        display: flex;
        margin: 0 -17px;

        @media (max-width: 767px) {
          height: auto;
          margin: 0;
          flex-direction: column;
        }

        .sub-card-1, .sub-card-2 {
          padding: 0 17px;
          flex: 1;

          .content {
            background-position: 50%;
            background-size: cover;
            height: 100%;
            width: auto;
          }
        }
      }
    }

    .right-blocks {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      @media (max-width: 767px) {
        margin: 0;
      }

      .card-1 {
        background-position: 50%;
        background-size: cover;
        height: 384px;
        margin-bottom: 30px;
      }

      .card-2 {
        background-position: 50%;
        background-size: cover;
        height: 570px;
      }
    }

    .description {
      font-size: 16px;
      text-align: left;
      color: #9a9a9a;
    }
  }
}
