html, body {
  margin: 0;
  height: 100%;
  font-family: $Hind;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  //Small desktop screen
  @media (max-width: 1300px) {
    max-width: 992px!important;
    box-sizing: border-box;
  }

  @media (max-width: 1080px) {
    max-width: 100%!important;
    padding: 0 15px;
    box-sizing: border-box;
  }

  //Tablet screen
  @media (max-width: 992px) {
    max-width: 100%!important;
    padding: 0 40px;
    box-sizing: border-box;
  }

  //Mobile screen
  @media (max-width: 767px) {
    max-width: 100%!important;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .title {
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

a {
  position: relative;
}

.learn-more {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: right;
  color: $yellow;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  @media(max-width: 767px) {
    font-size: 15px;
  }

  &.blue {
    color: $secondary-blue;
    margin: 0 auto;
    margin-top: 55px;

    &:after
    {
      content: '';
      margin: 9px auto 0;
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
      -webkit-transition: width .5s ease, background-color .5s ease;
      -moz-transition: width .5s ease, background-color .5s ease;
    }

    &:hover {
      &:after {
        width: 80%;
        background: $secondary-blue;
      }
    }
  }

  &:after
  {
    content: '';
    margin: 9px auto 0;
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
  }

  &:hover {
    &:after {
      width: 80%;
      background: $yellow;
    }
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.error {
  border-bottom: 1px solid red!important;
}

.col-3 {
  width: 33.33333333333%;
  padding: 0 15px;

  @media (max-width: 992px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0;
  }
}

.col-tech {
  width: 11.1111111111111%;
  padding: 0 40px;

  img {
    margin: 25px auto;
    display: block;width: 100%
  }

  @media(max-width: 1300px) {
    padding: 0 30px;
  };

  @media(max-width: 992px) {
    padding: 0 20px;
  };

  @media (max-width: 767px) {
    width: 33.3333333%;
  }
}

.line-blink {
  position: absolute;
  opacity: 0;
  width: 19px;
  height: 6px;
  background: $yellow;
  right: 15px;
  bottom: 10px;
  animation: 1000ms blink infinite;

  @media(max-width: 992px) {
    height: 4px;
    right: 5px;
    bottom: 7px;
    width: 16px;
  }

  @media(max-width: 767px) {
    height: 4px;
    right: 4px;
    bottom: 5px;
    width: 14px;
  }
}

@keyframes blink {
  0%,50% {
    opacity: 0;
  }

  51%,100% {
    opacity: 1;
  }

}

.success-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  display: none;
  align-items: center;
  justify-content: center;
  //background: $button-default;
  transition: 0.3s;
  opacity: 0;
  color: #fff;
  text-align: center;
  font-size: 34px;
  z-index: 9999999;

  @media (max-width: 767px) {
    font-size: 24px;
    width: 300px;
    height: 200px;
  }
}
