html, body {
  margin: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
  user-select: none;
}

.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  //Small desktop screen
  .md & {
    max-width: 992px;
    box-sizing: border-box;
  }

  //Tablet screen
  .sm & {
    max-width: 768px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  //Mobile screen
  .xs & {
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .title {
    .xs & {
      max-width: 290px;
      font-size: 22px;
    }
  }
}

a {
  position: relative;
  padding-bottom: 10px;
}

.dark-overlay {
  .xs & {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
}
