@import url('https://fonts.googleapis.com/css?family=Cabin|Hind:400,700|Open+Sans:400,700|Raleway:400,600,700');

$main-blue: #002e5b;
$main-gray: #f9f9f9;
$secondary-gray: #d3d3d3;
$white: #ffffff;
$yellow: #ffd928;
$secondary-blue: #3e5e7e;

$OpenSans: 'Open Sans', sans-serif;
$Hind: 'Hind', sans-serif;
$Cabin: 'Cabin', sans-serif;
$Raleway: 'Raleway', sans-serif;
