@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,900');

@font-face {
  font-family: 'TexGyreAdventor';
  src: url('../fonts/texgyreadventor/texgyreadventor-regular-webfont.woff2') format('woff2'),
  url('../fonts/texgyreadventor/texgyreadventor-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TexGyreAdventor';
  src: url('../fonts/texgyreadventor/texgyreadventor-bold-webfont.woff2') format('woff2'),
  url('../fonts/texgyreadventor/texgyreadventor-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TexGyreAdventor';
  src: url('../fonts/texgyreadventor/texgyreadventor-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/texgyreadventor/texgyreadventor-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TexGyreAdventor';
  src: url('../fonts/texgyreadventor/texgyreadventor-italic-webfont.woff2') format('woff2'),
  url('../fonts/texgyreadventor/texgyreadventor-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
