.m-header {
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    @include display(flex);
    @include justify-content(space-between);

    .m-menu {
      a {
        font-size: 14px;
      }
    }
  }
}