.m-testimonials {
  background-color: #f7f8f9;
  padding: 54px 0 60px 0;

  .container {
    @include flex-direction(column);
  }

  .under-title {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
    color: #32007e;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
    text-align: center;
    color: #2d2d2d;
  }

  .items {
    margin-top: 45px;
    @include display(flex);
    @include flex-direction(row);

    .item {
      max-width: 576px!important;
      width: 100%!important;
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      .avatar {
        width: 80px;
        height: 80px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.58);
        border: solid 5px #ffffff;
        border-radius: 80px;
        background: gold;
        margin-bottom: 15px;
      }

      .text {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.63;
        text-align: center;
        color: #c4c4c4;
      }

      .line {
        width: 65px;
        height: 3px;
        background-color: #6853cf;
        display: block;
        margin: 23px 0;
      }

      .name {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #444444;
      }
    }
  }
}